@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --titleColor: #ffffffdc;
    --background: #0d1a2d;
    --cardColor: #15273f;
    --textColor: #5c7094;
    --ethereumColor: #1ad9de;
}

body{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: var(--cardColor);
    border-radius: 10px;
    width: 300px;
    height: 500px;
    padding: 25px;
    box-shadow: 2px 2px 20px #00000049;
}

/* ----- HEADER ----- */
.card__header{
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.card__img{
    width: 100%;
}

.card__hover{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.card__view{
    position: absolute;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
}

.card__hover:hover{
    background-color: #00f7ff57;
}
.card__hover:hover + .card__view{
    opacity: .9;
}
/* --------X-------- */



/* ----- MAIN ----- */

.card__main{
    margin: 20px 0 15px;
    border-bottom: 1px solid #ffffff27;
}
.card__title{
    color: var(--titleColor);
    font-size: 35px;
    font-family: 'Dongle', sans-serif;
    transition: .5s;
}

.card__title:hover{
    color: var(--ethereumColor);
    cursor: pointer;
}

.card__paragraph{
    font-family: 'Dongle', sans-serif;
    font-size: 24px;
    line-height: 25px;
    color: #ffffff79;
}

.card__info-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__eth{
    display: flex;
    align-items: center;
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    color: var(--ethereumColor);
    font-weight: bold;
}
.card__eth-logo{
    margin: 0 6px 1px 0;
    width: 10px;
}
.card__days{
    display: flex;
    align-items: center;
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    color: #8bacd9;
}
.card__clock-logo{
    margin: 0 6px 3px 0;
    width: 18px;
}

/* --------X-------- */



/* ----- FOOTER ----- */
.card__footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card__avatar{
    width: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.card__creator{
    font-family: 'Dongle', sans-serif;
    color: #ffffff79;
    font-size: 25px;
    margin-left: 17px;
}

.card__span{
    color: #fff;
    transition: .5s;
}

.card__span:hover{
    color: var(--ethereumColor);
    cursor: pointer;
}

/* --------X-------- */


@media screen and (max-width: 310px) {
    .card{
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .card__title{
        text-align: center;
        color: var(--titleColor);
        font-size: 35px;
        font-family: 'Dongle', sans-serif;
        transition: .5s;
    }

    .card__paragraph{
        text-align: center;
        margin: 5px 0;
    }

    .card__footer{
        flex-direction: column;
    }

    .card__creator{
        margin-left: 0;
    }
}